<div class="container">

    <marquee class="coupon">"Unwrap Your Savings! Get 10% Off on Your <mark>FIRST ORDER</mark> Today!"</marquee>

    <div class="container-content">
        <div class="left-line">
            <div class="left-line1"><mark>
                Boots your productivity & </mark>
            </div>
            <div class="left-line2"><mark>
                built your mood</mark>
            </div>
            <div class="left-line3"><mark>
                With a sip of Caffine !
                </mark>
            </div>
            
            <button mat-raised-button (click)="toMenu()" class="grab">Grab a Coffee</button>
        </div>


        <div class="right-quote">
            <div class="right-quote-line">'Unlock</div>
            <div class="right-quote-line">Your</div>
            <div class="right-quote-line">Imagination</div>
            <div class="right-quote-line">With</div>
            <div class="right-quote-line">Every</div>
            <div class="right-quote-line">Sip'</div>
        </div>
    </div>

</div>