.container {
    height: 100%;
    width: 100%;
    // height: auto;
    background-position: center;
    background-size: cover;
    background-image: url("C:/Users/niroshinih/OneDrive - Korcomptenz Inc/Desktop/Assignmet/ECom/src/assets/images/cafebg.png");
    background-attachment: fixed;
    color: white;
    // opacity: 0.6;
}

.coupon {
    font-family: Apple Chancery, cursive;
    font-size: 18px;
    color: #eada4b;
    background-color: #3e2c06;
    padding: 12px;
}

.coupon mark {
    background-color: #f1e680;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container-content {
    display: flex;
    justify-content: space-between;
}

.left-line {
    flex: 2;
    margin-top: 8%;
    margin-right: 3%;
    // background-color: rgb(232, 226, 226);
}

.left-line mark{
    background-color: #8a806a;
    color: rgb(70, 44, 9);
}

.left-line1,
.left-line2,
.left-line3 {
    font-size: 3rem;
    font-weight: bold;
    margin-left: 8%;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    // text-decoration: fade-out($color: #000000, $amount: 4);
    // color: rgb(51, 40, 6);
    color: rgb(96, 5, 5);

}

.left-line2{
    margin-top: 5%;
    margin-bottom: 5%;
}

.left-line3 {
    margin-top: 5%;
    margin-bottom: 9%;
}

.grab {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: #4d1b0c;
    color: white;
    border: solid 2px rgb(239, 179, 12) ;
    border-radius: 12px;
    padding: 10px 20px;
    cursor: pointer;
    left: 20%;
    transform: translateY(-50%);

}

.grab:hover {
    background-color: #742811;
}

.right-quote {
    // display: flex;
    // flex-direction: column;
    // align-items: flex-end;
    flex: 1;
    font-size: 3rem;
    // background-color: rgb(175, 198, 219);
}

.right-quote-line {
    margin: 1em;
    margin-left: 20%;
    // margin-right: 5em;
    color: rgb(96, 5, 5);
    font-weight: 600;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

// .right-quote {
//     position: absolute;
//     top: 30%; /* Adjust this value to leave space from the top */
//     right: 0;
//     // background-color: #f0f0f0;
//     padding: 20px;
//     font-family: Arial, sans-serif;
// }

// .right-quote pre {
//     margin: 0;
//     white-space: pre-wrap;
// }