// div{
//     height: 1000vh;
// }

.container{
    width: 100%;
    background-position: center;
    background-size: cover;
    // background-image: url("C:/Users/NiroshiniH/OneDrive - Korcomptenz Inc/Desktop/Assignmet/ECom/src/assets/images/cafe.jpg");
    background-attachment: fixed;
    // opacity: 0.6;
}

.topline{
    color: rgb(89, 76, 42);
    position: relative;
    font-size: 8rem;
    line-height: 0.9;
    text-align: center;
    background-color: #e0c9b2;
    font-family: fantasy;
}

mat-tab-group{
    background-color: rgb(191, 174, 140);    
}

