<div class="coffee-nav-bar">
    <h2 style="text-align: center">CATEGORIES</h2>

    <div class="filter-group">
        <h3>Coffee Types</h3>
        <!-- <mat-checkbox *ngFor="let coffee of coffees" [(ngModel)]="coffee.checked"  (change)="applyFilters()"> (change)="applyFilter()"
            {{ coffee.name }}
        </mat-checkbox> -->
    </div>

    <div class="filter-group">
        <h3>Price</h3>
        <!-- <mat-checkbox *ngFor="let price of priceRanges" [(ngModel)]="price.checked" (change)="applyFilters()">{{ price.name }}</mat-checkbox> -->
    </div>

    <!-- <div class="filter-group">
    <h3>CoffeeMedium</h3>
    <mat-checkbox *ngFor="let medium of mediums" [(ngModel)]="medium.checked">{{ medium.name }}</mat-checkbox>
</div>

<div class="filter-group">
    <h3>Sugar Level</h3>
    <mat-checkbox *ngFor="let level of levels" [(ngModel)]="level.checked">{{ level.name }}</mat-checkbox>
</div> -->

</div>