.signup-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: bisque;
}

.signup-form h1 {
    margin-bottom: 10px;
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.signup-form p {
    margin-bottom: 20px;
    color: rgb(116, 61, 116);
    font-family: cursive;
    font-style: italic;   
}

.fullname,
.emailid,
.number,
.password {
    margin-bottom: 3px;
}


.mat-form-field-placeholder {
    color: #756f6f;
}

.login-redirect{
    padding: 10px;
}