<h2>Order History</h2>

<div *ngIf="orders && orders.length > 0" class="order-history">
  <h2>Order History</h2>
  <div *ngFor="let order of orders" class="order">
      <p><strong>Order ID:</strong> {{ order.id }}</p>
      <p><strong>Date:</strong> {{ Date }}</p>
      <p><strong>Item: </strong>{{ order.items }}</p>
      <p><strong>Total:</strong> {{ order.total }}</p>

  </div>
</div>




















<!-- <div *ngFor="let order of orderHistory">
  <h2>Order Details</h2>
  <p>Items: {{ order.items }}</p>
  <p>Total: {{ order.total }}</p>
</div> -->


<!-- thisss -->
<!-- <h2>Order History</h2>
<div *ngFor="let order of orderHistory">
  <div class="order-details">
    <h3>Order Details</h3>
    <ul>
      <li *ngFor="let item of order.items">{{ item }}</li>
    </ul>
    <p>Total: {{ order.total }}</p>
  </div>
</div> -->


