<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

<div class="container">
    <img src="https://img.freepik.com/free-vector/realistic-coffee-background-with-drawings_157027-1112.jpg"
        alt="front img" style="width:100%; height:100%;">
    <div class="welcome">Welcome To Our Cafe!</div>
    <div class="line1">Every Convo Get's Started With a Sip Of Coffee!</div>
    <div class="line2">what are u waiting for? just take a Sip!!!</div>
    <div class="visit">~ Visit Us Anytime!</div>
    <button class="login-button" (click)="frontPopLoginDialog()">LOGIN</button>
</div>

